<!DOCTYPE html >
    <html>

    <head>
    <title > Name </title> </head >
<body >

<% if( name === "unknown"){ %>
   <p>Hello <%= name %>, i dont know your age</p>

 <% } else{ %>  
   <p> Hello <%= name %> you are <%= age %> yo</p> </body>
<% } %>


</html>